--
-- PostgreSQL database dump
--

\restrict OUKSYmHSYkj79bJxbrGO9B3QG5koj2WXgOt0AUDB4HM6tm50r1A8CLadd2dDFxb

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: competitions; Type: TABLE; Schema: public; Owner: fussball
--

CREATE TABLE public.competitions (
    id integer NOT NULL,
    name text NOT NULL,
    code text,
    area_name text
);


ALTER TABLE public.competitions OWNER TO fussball;

--
-- Name: match_referees; Type: TABLE; Schema: public; Owner: fussball
--

CREATE TABLE public.match_referees (
    match_id integer NOT NULL,
    referee_id integer NOT NULL,
    referee_type text NOT NULL
);


ALTER TABLE public.match_referees OWNER TO fussball;

--
-- Name: matches; Type: TABLE; Schema: public; Owner: fussball
--

CREATE TABLE public.matches (
    id integer NOT NULL,
    competition_id integer,
    season_id integer,
    matchday integer,
    stage text,
    group_name text,
    utc_date timestamp without time zone,
    status text,
    home_team_id integer,
    away_team_id integer,
    home_score_fulltime integer,
    away_score_fulltime integer,
    home_score_halftime integer,
    away_score_halftime integer,
    winner text,
    last_updated timestamp without time zone,
    inserted_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.matches OWNER TO fussball;

--
-- Name: predictions; Type: TABLE; Schema: public; Owner: fussball
--

CREATE TABLE public.predictions (
    id integer NOT NULL,
    match_id integer,
    predicted text,
    prob_home double precision,
    prob_draw double precision,
    prob_away double precision,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.predictions OWNER TO fussball;

--
-- Name: predictions_id_seq; Type: SEQUENCE; Schema: public; Owner: fussball
--

CREATE SEQUENCE public.predictions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.predictions_id_seq OWNER TO fussball;

--
-- Name: predictions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: fussball
--

ALTER SEQUENCE public.predictions_id_seq OWNED BY public.predictions.id;


--
-- Name: referees; Type: TABLE; Schema: public; Owner: fussball
--

CREATE TABLE public.referees (
    id integer NOT NULL,
    name text NOT NULL,
    nationality text
);


ALTER TABLE public.referees OWNER TO fussball;

--
-- Name: seasons; Type: TABLE; Schema: public; Owner: fussball
--

CREATE TABLE public.seasons (
    id integer NOT NULL,
    competition_id integer,
    start_date date,
    end_date date,
    current_matchday integer,
    winner_team_id integer
);


ALTER TABLE public.seasons OWNER TO fussball;

--
-- Name: teams; Type: TABLE; Schema: public; Owner: fussball
--

CREATE TABLE public.teams (
    id integer NOT NULL,
    name text NOT NULL,
    short_name text,
    tla text,
    crest_url text
);


ALTER TABLE public.teams OWNER TO fussball;

--
-- Name: predictions id; Type: DEFAULT; Schema: public; Owner: fussball
--

ALTER TABLE ONLY public.predictions ALTER COLUMN id SET DEFAULT nextval('public.predictions_id_seq'::regclass);


--
-- Data for Name: competitions; Type: TABLE DATA; Schema: public; Owner: fussball
--

COPY public.competitions (id, name, code, area_name) FROM stdin;
2002	Bundesliga	BL1	Germany
\.


--
-- Data for Name: match_referees; Type: TABLE DATA; Schema: public; Owner: fussball
--



--
-- Data for Name: matches; Type: TABLE DATA; Schema: public; Owner: fussball
--



--
-- Data for Name: predictions; Type: TABLE DATA; Schema: public; Owner: fussball
--

COPY public.predictions (id, match_id, predicted, prob_home, prob_draw, prob_away, created_at) FROM stdin;
\.


--
-- Data for Name: referees; Type: TABLE DATA; Schema: public; Owner: fussball
--



--
-- Data for Name: seasons; Type: TABLE DATA; Schema: public; Owner: fussball
--

COPY public.seasons (id, competition_id, start_date, end_date, current_matchday, winner_team_id) FROM stdin;
1592	2002	2023-08-18	2024-05-18	34	\N
2308	2002	2024-08-23	2025-05-17	34	\N
2414	2002	2025-08-22	2026-05-16	34	\N
\.


--
-- Data for Name: teams; Type: TABLE DATA; Schema: public; Owner: fussball
--



--
-- Name: predictions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: fussball
--

SELECT pg_catalog.setval('public.predictions_id_seq', 1, false);


--
-- Name: competitions pk_competitions; Type: CONSTRAINT; Schema: public; Owner: fussball
--

ALTER TABLE ONLY public.competitions
    ADD CONSTRAINT pk_competitions PRIMARY KEY (id);


--
-- Name: match_referees pk_match_referees; Type: CONSTRAINT; Schema: public; Owner: fussball
--

ALTER TABLE ONLY public.match_referees
    ADD CONSTRAINT pk_match_referees PRIMARY KEY (match_id, referee_id, referee_type);


--
-- Name: matches pk_matches; Type: CONSTRAINT; Schema: public; Owner: fussball
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT pk_matches PRIMARY KEY (id);


--
-- Name: referees pk_referees; Type: CONSTRAINT; Schema: public; Owner: fussball
--

ALTER TABLE ONLY public.referees
    ADD CONSTRAINT pk_referees PRIMARY KEY (id);


--
-- Name: seasons pk_seasons; Type: CONSTRAINT; Schema: public; Owner: fussball
--

ALTER TABLE ONLY public.seasons
    ADD CONSTRAINT pk_seasons PRIMARY KEY (id);


--
-- Name: teams pk_teams; Type: CONSTRAINT; Schema: public; Owner: fussball
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT pk_teams PRIMARY KEY (id);


--
-- Name: predictions predictions_pkey; Type: CONSTRAINT; Schema: public; Owner: fussball
--

ALTER TABLE ONLY public.predictions
    ADD CONSTRAINT predictions_pkey PRIMARY KEY (id);


--
-- Name: competitions uq_competitions_code; Type: CONSTRAINT; Schema: public; Owner: fussball
--

ALTER TABLE ONLY public.competitions
    ADD CONSTRAINT uq_competitions_code UNIQUE (code);


--
-- Name: match_referees fk_match_refs_match; Type: FK CONSTRAINT; Schema: public; Owner: fussball
--

ALTER TABLE ONLY public.match_referees
    ADD CONSTRAINT fk_match_refs_match FOREIGN KEY (match_id) REFERENCES public.matches(id);


--
-- Name: match_referees fk_match_refs_referee; Type: FK CONSTRAINT; Schema: public; Owner: fussball
--

ALTER TABLE ONLY public.match_referees
    ADD CONSTRAINT fk_match_refs_referee FOREIGN KEY (referee_id) REFERENCES public.referees(id);


--
-- Name: matches fk_matches_away_team; Type: FK CONSTRAINT; Schema: public; Owner: fussball
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT fk_matches_away_team FOREIGN KEY (away_team_id) REFERENCES public.teams(id);


--
-- Name: matches fk_matches_competition; Type: FK CONSTRAINT; Schema: public; Owner: fussball
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT fk_matches_competition FOREIGN KEY (competition_id) REFERENCES public.competitions(id);


--
-- Name: matches fk_matches_home_team; Type: FK CONSTRAINT; Schema: public; Owner: fussball
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT fk_matches_home_team FOREIGN KEY (home_team_id) REFERENCES public.teams(id);


--
-- Name: matches fk_matches_season; Type: FK CONSTRAINT; Schema: public; Owner: fussball
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT fk_matches_season FOREIGN KEY (season_id) REFERENCES public.seasons(id);


--
-- Name: seasons fk_seasons_competition; Type: FK CONSTRAINT; Schema: public; Owner: fussball
--

ALTER TABLE ONLY public.seasons
    ADD CONSTRAINT fk_seasons_competition FOREIGN KEY (competition_id) REFERENCES public.competitions(id);


--
-- Name: seasons fk_seasons_winner; Type: FK CONSTRAINT; Schema: public; Owner: fussball
--

ALTER TABLE ONLY public.seasons
    ADD CONSTRAINT fk_seasons_winner FOREIGN KEY (winner_team_id) REFERENCES public.teams(id);


--
-- Name: predictions predictions_match_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: fussball
--

ALTER TABLE ONLY public.predictions
    ADD CONSTRAINT predictions_match_id_fkey FOREIGN KEY (match_id) REFERENCES public.matches(id);


--
-- PostgreSQL database dump complete
--

\unrestrict OUKSYmHSYkj79bJxbrGO9B3QG5koj2WXgOt0AUDB4HM6tm50r1A8CLadd2dDFxb

